.signIn {
}
.signIn__form {
  display: flex;
  flex-direction: column;
}

.signIn__buttons {
  display: flex;
  margin: 2rem 0;
}

.signIn__buttons button {
  width: 100%;
}

.signIn__buttons button:first-child {
  flex: 0.2;
}

.signIn__buttons button:last-child {
  background-color: #000;
  margin-left: 1rem;
  flex: 0.8;
}

.signIn__buttons button:last-child:hover {
  opacity: 0.8;
  cursor: pointer;
}
