.signIn {
  margin-right: 10rem;
}
.signIn__form {
  display: flex;
  flex-direction: column;
}

.signIn__buttons {
  display: flex;
  margin: 2rem 0;
}

.signIn__buttons button {
  width: 100%;
}

.signIn__buttons button:first-child {
  flex: 0.2;
}

.signIn__buttons button:last-child {
  background-color: #000;
  margin-left: 1rem;
  flex: 0.8;
}

.signIn__buttons button:last-child:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 795px) {
  .signIn {
    margin-right: 5rem;
  }
}

@media screen and (max-width: 700px) {
  .signIn {
    margin-right: 2.5rem;
  }
}

@media screen and (max-width: 655px) {
  .signIn {
    margin-right: 1rem;
  }
}

@media screen and (max-width: 625px) {
  .signIn {
    margin-right: 0rem;
  }
}
