.newsletter {
  text-align: center;
}

.newsletter__description {
  margin-bottom: $mb-2;
  font-size: $small-font-size;
  color: $dark-color-light;
}

.newsletter__form {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
}

.newsletter__input {
  outline: none;
  border: none;
  background-color: $gray-color;
  padding: 0 1rem;
}

@media screen and (min-width: 768px) {
  .newsletter__form {
    width: 400px;
    margin: 0 auto;
  }
}
