.new__container {
  row-gap: 2rem;
}

.new__box {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: $gray-color;
  overflow: hidden;
}

.new__box:hover .new__link {
  bottom: 0;
}

.new__link {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(299, 89, 71, 0.2);
  transition: 0.3s;
}

@media screen and (min-width: 768px) {
  .new__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
