.collectionList__preview {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}

.collectionList__title {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  margin-left: 3rem;
  font-size: 22px;
}

.collectionItem {
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

.collectionItem:hover {
  transform: translateY(-0.5rem);
  cursor: pointer;
}

.collectionItem h3 {
  position: relative;
  bottom: 15px;
}

.collectionItem .rating {
  position: relative;
  bottom: 30px;
  align-self: flex-start;
}

.collectionItem p {
  position: relative;
  bottom: 30px;
}

.collectionItem img {
  width: 280px;
  height: 300px;
  object-fit: cover;
}

.collectionItem button {
  width: 80px;
  border: none;
  font-size: 10px;
  text-transform: uppercase;
  position: relative;
  bottom: 30px;
  background-color: $gray-color;
  color: $dark-color;
  cursor: pointer;
  transition: 200ms background-color ease-in;

  &:hover {
    background-color: $dark-color;
    color: $white-color;
  }
}

@media screen and (max-width: 1215px) {
  .collectionList__preview {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 950px) {
  .collectionList__preview {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .collectionList__preview {
    grid-template-columns: 1fr;
  }
  .collectionList__title {
    text-align: center;
    margin-left: 0rem;
  }
}
