.cartDropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  max-height: 340px;
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
  padding-top: 5px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: $white-color;
  top: 40px;
  right: 0;
  z-index: 98;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
  overflow-y: scroll;
  overflow-x: hidden;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $first-color;
    color: $white-color;
    padding: 0.3rem 1rem;
    font-weight: $font-semi;
    border: none;
    font-size: 14px;
    text-transform: uppercase;

    &:hover {
      opacity: 0.8;
    }
  }

  span {
    cursor: pointer;
  }

  p {
    display: flex;
    justify-content: center;
    margin: auto 0;
    font-size: 14px;
  }
}

.cartDropdown::-webkit-scrollbar {
  display: none;
}

.cartDropdown__items {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cartDropDownList {
  width: 100%;
}

.cartDropdownItem {
  width: 100%;
  display: flex;
  height: 80px;
  margin-bottom: 15px;

  img {
    width: 30%;
  }

  button {
    width: 80px;
    border: none;
    font-size: 10px;
    text-transform: uppercase;
    position: relative;
    bottom: 0px;
    background-color: $gray-color;
    color: $dark-color;
    cursor: pointer;
    transition: 200ms background-color ease-in;

    &:hover {
      background-color: #555;
      color: $white-color;
    }
  }

  .cartDropdownItem__details {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 20px;
  }

  .cartDropdownItem__details-name {
    font-size: 12px;
  }

  .cartDropdownItem__details-price {
    font-size: 11px;
    font-weight: bolder;
    margin: 5px 0;
  }
}

.cartDropdown__header {
  display: flex;
  justify-content: space-between;

  .cartDropdown__header-total {
    font-size: 16px;

    span {
      color: $first-color;
    }
  }
}
