.checkout {
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem auto;
  max-width: 1200px;

  .image-container {
    width: 120px;
  }

  .action-button {
    cursor: pointer;
  }

  .quantity__number {
    color: $first-color;
    font-family: Poppins-Bold;
  }

  .quantity__sign {
    cursor: pointer;
  }
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  overflow: hidden;
}

.content-table thead tr {
  background-color: $first-color;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
  text-align: center;
}

.content-table tbody tr {
  border-bottom: 1px solid #ddd;
}

.content-table tbody tr:nth-of-type(even) {
  // background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  // border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.checkout__total {
  span {
    font-size: 24px;
  }
}

@media screen and (max-width: 540px) {
  .content-table {
    max-width: 200px !important;
  }

  .content-table th,
  .content-table td {
    padding: 6px 7.5px;
  }

  .content-table thead tr th {
    font-size: 12px !important;
  }

  .image-container img {
    width: 90px;
  }
}

@media screen and (max-width: 438px) {
  .content-table {
    min-width: 370px !important;
  }
  .image-container img {
    width: 75px;
  }

  .content-table th,
  .content-table td {
    font-size: 10px;
    padding: 3px;
  }
}
